.search-root{
    position: relative;
}
.search-root:focus-visible{
    outline: none;
}
.search-input{
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    border: none;
}
.search-input:focus-visible{
    outline: none;
}
.search-icon{
    position: absolute;
    right: 10px;
    top: 6px;
    width: 25px;
    height: 25px;
}
@media only screen 
  and (min-device-width: 1080px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .search-input{
        width: 450px;
    }
}